@model DB.ORM.DB.Category
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<div class="portlet light">
    <!-- tile body -->
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @(modeAdd ? null : Html.HiddenFor(m => m.CategoryId))
                @Html.FormEditorRow(m => m.Quota, ZM.CategoryAdmin.Quota)
                @Html.FormEditorRow(m => m.CategoryName, ZM.CategoryAdmin.CategoryName)
                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
