﻿@model System.Web.Mvc.HandleErrorInfo

@if (Model != null)
{
    Elmah.ErrorSignal.FromCurrentContext().Raise(Model.Exception);
}
@{
    ViewBag.PageTitle = "Not found";
    Layout = null;
}
<html>
<body>
    <h2>Page not found</h2>
</body>
</html>
