﻿@model DB.ORM.DB.Interest.InterestDto
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-9">
                        @(modeAdd ? null : Html.HiddenFor(m => m.Id))
                        @(modeAdd ? null : Html.HiddenFor(m => m.Icon))
                        @Html.FormEditorRow(m => m.InterestName, ZM.InterestAdmin.Interest, false, true)
                        @Html.FormEditorRow(m => m.InterestNameAr, ZM.InterestAdmin.InterestAr, false)
                        @Html.FormActionsRow()
                    </div>

                    @Html.Partial("_FileUpload", string.IsNullOrEmpty(Model.Logo) ? "" : Model.Logo)
                </div>


           </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
