﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Interests>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.InterestId).Hidden();
                    columns.Bound(p => p.Logo).Title(ZM.InterestAdmin.Icon)
                    .ClientTemplate(
                    @"# if (Logo != null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Logo#'/>#} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
                        .AddDefaultOptions().Filterable(false);
                    columns.Bound(p => p.InterestName).Title(ZM.InterestAdmin.Interest).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.InterestNameAr).Title(ZM.InterestAdmin.InterestAr).AddDefaultOptionsAndViewInMobile();
                   
                    columns.AddActionColumns("InterestId");
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.InterestId);
                            model.Field(a => a.InterestId).Editable(false);
                        })
                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Interest</strong>
            <p class="col-template-val">#=data.InterestName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>