﻿@model DB.ORM.DB.Profile
@{
    ViewBag.Title = "My Profile";
    ViewBag.PageType = "Dashboard";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />


<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"> @ZM.Profile.Overview </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab"> @ZM.Profile.Account </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <img src="@Model.Pic" class="img-responsive pic-bordered" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <h1 class="font-green sbold uppercase">@Model.FullName</h1>
                                <p>
                                    @Model.Address
                                    <br />
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-envelope"></i> <a href="mailto:@Model.Email">@Model.Email</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar"></i> @(Model.BirthDate.HasValue ? Model.BirthDate?.ToString("d MMM yyyy") : "N/A")
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> @Model.Membership
                                    </li>
                                    <li>
                                        <a class="fa fa-facebook" href="@Model.Facebook"></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile">@Model.Mobile</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div>
            <!--tab_1_2-->
            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-1">
                                    <i class="fa fa-cog"></i> @ZM.Profile.PersonalInfo
                                </a>
                                <span class="after"> </span>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_2-2">
                                    <i class="fa fa-picture-o"></i>  @ZM.Profile.ChangeAvatar
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_3-3">
                                    <i class="fa fa-lock"></i>  @ZM.Profile.ChangePassword
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                                @using (Html.BeginForm("Profile", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Id)
                                        @Html.FormEditorRow(m => m.Address, ZM.Profile.Address, false)
                                        @Html.FormEditorRow(m => m.Mobile, ZM.Profile.Mobile, false)
                                        @Html.FormEditorRow(m => m.Email, ZM.Profile.Email, false)
                                        @Html.FormEditorRow(m => m.Facebook, ZM.Profile.Facebook, false)
                                    </div>
                                    @Html.FormActionsRow(FormActionButton.SubmitButton(), FormActionButton.ResetButton())
                                }
                            </div>
                            <div id="tab_2-2" class="tab-pane">
                                @using (Html.BeginForm("ChangeImage", formController, FormMethod.Post, new { @id = "ciMain", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.Partial("_FileUpload", string.IsNullOrEmpty(Model.Pic) ? "" : Model.Pic)
                                    </div>
                                    @Html.FormActionsRow(FormActionButton.SubmitButton(), FormActionButton.ResetButton())
                                }
                            </div>
                            <div id="tab_3-3" class="tab-pane">
                                @Html.Partial("_ChangePassword", new Web.App.Models.VMChangePassword())
                            </div>

                        </div>
                    </div>
                    <!--end col-md-9-->
                </div>
            </div>
            <!--end tab-pane-->
        </div>
    </div>
</div>