﻿@model Web.App.Models.VMReport
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

@Html.FormMultiSelectRow(m => m.TimeDefinitionId, (List<SelectListItem>)ViewBag.Time)
@Html.FormMultiSelectRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams)

@section Scripts
{
    <script type="text/javascript">
        
        getParameters = function () {
            return {
                TimeDefinitionId: $("#TimeDefinitionId").data("kendoMultiSelect").value().toString(),
                TeamId: $("#TeamId").val() != null ? $("#TeamId").data("kendoMultiSelect").value().toString() : "",
                filterText: "Seleced Periods: " + getTextOfMultiSelect("TimeDefinitionId") + ", Selected Teams: " + getTextOfMultiSelect("TeamId")
            };
        };
        function getTextOfMultiSelect(msName) {
            var ms = $("#" + msName).data("kendoMultiSelect").dataItems();
            var texts = "";
            for (i = 0; i < ms.length; i++)
            {
                texts += ms[i].Text+",";
            }
            return texts;
        }
    </script>
}