﻿@model DB.ORM.DB.Promotion
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var draft = (title == "Create") ? true : Model.IsDraft;
    var baseURL = ViewData["BaseUrl"];

}
<link href="~/Content/appStyles/viewList.css" rel="stylesheet" />
<link href="~/assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
<link href="~/assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />

<div class="portlet light">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="row">
        <div class="col-md-12">
          
            <div class="portlet light " id="form_wizard_1">

                <div class="portlet-body form">
                    <div class="form-wizard">
                        <div class="form-body" id="tabs">
                            @Html.FormHeaderTabbed("", new FormHeaderSpecialTab { Active = true, Id = "1", Name = "Promotion Setup" }
                                                           , new FormHeaderSpecialTab { Id = "2", Name = "Images" })
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1">
                                    @using (Ajax.BeginForm("SaveBasicModel", formController,
                                       new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success", OnFailure = "Failure" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @(Html.HiddenFor(m => m.PromotionId))
                                        @Html.HiddenFor(m => m.MerchantId)
                                        @Html.HiddenFor(m => m.ApprovedDate)
                                        @Html.HiddenFor(m => m.RejectedDate)
                                        @Html.HiddenFor(m => m.CreationDate)
                                        @Html.HiddenFor(m => m.IsDraft)
                                        @Html.FormEditorRow(m => m.PromotionName, ZM.Promotion.PromotionName, !draft, true)
                                        @Html.FormEditorRow(m => m.Description, ZM.Promotion.Description, !draft)
                                        @Html.FormDropDownListRow(m => m.PromotionTypeId, (IEnumerable<SelectListItem>)ViewBag.PromotionTypes, true, ZM.Promotion.Type, !draft)

                                    }
                                </div>
                                <div class="tab-pane" id="tabs-2">
                                    @Html.Partial("_Loading")
                                    @Html.Partial("_FilesUpload")
                                </div>
                                @Html.Partial("_ActionButtons", formController)

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/file/filesUpload.js"></script>
<script src="~/Scripts/Wizared/promotion.js"></script>
<script src="~/Scripts/Wizared/Tabs.js"></script>
<script src="~/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<script src="~/assets/pages/scripts/portfolio-2.min.js" type="text/javascript"></script>

<script>
     var noDisplay = '@modeAdd';
    $('#submitBtn').on("click", function (e) {
        $('#loading').show();
    $.ajax({
        type: "POST",
        url: '@Url.Action("SubmitModel", @formController)',
        data: { files: data, promotionId: $('#PromotionId').val() },
        dataType: "json",
        success: function (data) {
            if (data) {
                 $('#loading').hide();
                window.location.href = '@Url.Action("index",  @formController)';
            }
        },
        error: function (httpRequest, textStatus, errorThrown) {
        }
    });
});
</script>