﻿@model DB.ORM.DB.Promotion
@{
    var title = "View";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var baseURL = ViewData["BaseUrl"];

}

@section styles{
    <link href="~/assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />
}
@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/portfolio-2.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
}


<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light " id="form_wizard_1">

                <div class="portlet-body form">
                    <div class="form-wizard">
                        @Html.FormEditorRow(ZM.Promotion.PromotionName, Html.Kendo().TextBoxFor(m => m.PromotionName),null,true)
                        @Html.FormEditorRow(m => m.Description, ZM.Promotion.Description, true)
                        @Html.FormDropDownListRow(m => m.PromotionTypeId, (IEnumerable<SelectListItem>)ViewBag.PromotionTypes, true, ZM.Promotion.Type, true)
                       
                      
                        <div class="portfolio-content portfolio-2" style="padding-top:50px">
                            @if (Model.PromotionImages.Count() > 0)
                            {
                                <div id="js-filters-mosaic" class="cbp-l-filters-button">
                                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn green btn-outline uppercase">
                                        All
                                        <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".logo" class="cbp-filter-item btn green btn-outline uppercase">
                                        Logo
                                        <div class="cbp-filter-counter"></div>
                                    </div>
                                    <div data-filter=".other" class="cbp-filter-item btn green btn-outline uppercase">
                                        Other
                                        <div class="cbp-filter-counter"></div>
                                    </div>

                                </div>
                            }
                            <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
                                @foreach (var item in Model.PromotionImages)
                                {

                                    <div class="cbp-item web-design @(item.IsLogo?"logo":"other")  col-xs-4">
                                        <a href="@Url.Content(@baseURL+item.ImageUrl)" class="cbp-caption cbp-lightbox">
                                            <div class="cbp-caption-defaultWrap" style="padding-top:10px">
                                                <img src="@Url.Content(@baseURL+item.ImageUrl)" style="width:250px;height:200px;" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title">@(item.IsLogo ? "Logo" : "Other")</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a id="backBtn" href='@Url.Action("Index", "Promotion")' class="btn btn-outline green button-previous">
                                    <i class="fa fa-angle-left"></i> @string.Format(ZM.UI.BackTo,ZM.ViewPages.PromotionViewNameSingular)
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



