﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}

<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/Grid/GrideDeleteSwal.js"></script>
<script src="~/Scripts/swal/swal.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Promotion>()
                                            .Name("Grid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.PromotionId).Hidden();
                                                columns.Bound(p => p.PromotionName).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.PromotionTypeName).AddDefaultOptions();
                                                columns.Bound(p => p.Status).HtmlAttributes(new { id = "stat" }).Title(ZM.Promotion.Status).AddDefaultOptions();

                                                columns.AddActionColumns("PromotionId",

                                        ListActionColumn.GenericSwALColumn("PromotionId", Url.Action("Details", formController), "fa fa-eye", false),
                                   
                                        ListActionColumn.GenericSwALColumn("PromotionId", Url.Action("DeletePromotion", formController), "glyphicon glyphicon-trash trashIcon", true,
                                        "delete", ZM.Message.SwALDone, string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.PromotionViewNameSingular, ZM.Message.Delete),
                                        ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALRealatedData, ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWillDelete, ZM.ViewPages.PromotionViewNameSingular),
                                        ZM.Message.SwALwarning, ZM.Message.SwALDelete, ZM.Message.SwALNoCancel, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.PromotionViewNameSingular)),

                                        ListActionColumn.GenericSwALColumn("PromotionId", Url.Action("SendPromotion", formController), "fa fa-paper-plane", true, "send", ZM.Message.SwALDone,
                                        string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.PromotionViewNameSingular, ZM.Message.Send), ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWillSend, ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALwarning, ZM.Message.SwALSend
                                        , ZM.Message.SwALNoCancel));

                                                columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                                })
                                                .AddDefaultOptions()
                                                .Events(e => e.DataBound("OnDataBound"))
                                                .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.PromotionId);
                                                    model.Field(a => a.PromotionId).Editable(false);
                                                })
                                                )
        )

       
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>PromotionName</strong>
            <p class="col-template-val">#=data.PromotionName#</p>

            <strong>OfferTypeName</strong>
            <p class="col-template-val">#=data.OfferTypeName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>

<script>
    OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            if (val.Status == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.PromotionStatus.Pending)') {
                $('#send_' + val.PromotionId).hide();
            }
            if (val.Status == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.PromotionStatus.Approved)'
                                  || val.Status == '@Services.Helper.EnumHelpers.DescriptionAttr(@Services.Helper.EnumHelpers.PromotionStatus.Rejected)') {
                $('#send_' + val.PromotionId).hide();

                if (val.Status == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.PromotionStatus.Approved)')
                     $('#delete_' + val.PromotionId).hide();
            }
            $('#delete_' + val.PromotionId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.Delete, ZM.ViewPages.PromotionViewNameSingular)', position: "top", width: 120 });
            $('#send_' + val.PromotionId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.Send, ZM.ViewPages.PromotionViewNameSingular)', position: "top",width: 120});
            $('#generic_' + val.PromotionId).kendoTooltip({ content:'@ZM.Tooltip.ViewDetails', position: "top", });
             
        });
    }
  
</script>
