﻿@model DB.ORM.DB.PromotionType
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-12">
                        @(modeAdd ? null : Html.HiddenFor(m => m.PromotionTypeId))
                        @Html.FormEditorRow(m => m.PromotionTypeName)                    
                        @Html.FormActionsRow()
                    </div>
                </div>

            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
