@model DB.ORM.DB.FAQQuestion
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var categories = ViewData["Categories"];
}
<div class="portlet light">
    <!-- tile body -->
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @(modeAdd ? null : Html.HiddenFor(m => m.FaqQuestionId))
                @Html.FormEditorRow(m => m.QuestionText, ZM.FAQAdmin.QuestionText,false,true)
                @Html.FormDropDownListRow(m => m.FaqCategoryId,(IEnumerable<SelectListItem>)categories,true, ZM.FAQAdmin.FaqCategory)
                @Html.FormEditorRow(m => m.AnswerText01, ZM.FAQAdmin.AnswerText01)
                @Html.FormEditorRow(m => m.AnswerImage, ZM.FAQAdmin.AnswerImage)
                @Html.FormEditorRow(m => m.AnswerText02, ZM.FAQAdmin.AnswerText02)
                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
