@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_FAQ>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.FaqQuestionId).Hidden();                                
                                columns.Bound(p => p.QuestionText).Title(ZM.FAQAdmin.QuestionText).AddDefaultOptionsAndViewInMobile();
                                columns.Bound(p => p.CategoryName).Title(ZM.FAQAdmin.Category).AddDefaultOptions();
                                columns.AddActionColumns("FaqQuestionId");
                                columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
                                                .AddDefaultOptions()
                                                .DataSource(dataSource => dataSource
                                                    .AddDefaultSettings(model =>
                                                    {
                                                        model.Id(p => p.FaqQuestionId);
                                                        model.Field(a => a.FaqQuestionId).Editable(false);

                                                    })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
           
            <strong>QuestionText</strong>
            <p class="col-template-val">#=data.QuestionText#</p>
            <strong>FaqCategoryId</strong>
            <p class="col-template-val">#=data.FaqCategoryId#</p>
            <strong>AnswerText01</strong>
            <p class="col-template-val">#=data.AnswerText01#</p>
            <strong>AnswerImage</strong>
            <p class="col-template-val">#=data.AnswerImage#</p>
            <strong>AnswerText02</strong>
            <p class="col-template-val">#=data.AnswerText02#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
