﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-5">
        <address>
            HQ<br />
            Villa 1, Narges 1, 5th Settelment <br />
            <abbr title="Phone">P:</abbr>
            +201061100773
        </address>
        <address>
            <strong>Cairo ,Egypt</strong>   <a href="mailto:support@mazano.com">Customer Support</a><br />
        </address>
    </div>
    <div class="col-md-7">
        <div class="mapouter">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="543" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Villa%201%2C%20Nargess%201%2C%205th%20settelement&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nordvpn california server</a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 543px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 543px;
                }
            </style></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style>
        </div>
    </div>
</div>


