﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_SystemRole>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.SystemRoleId).Hidden();
                    columns.Bound(p => p.RoleName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Active).AddDefaultOptions();
                    columns.Bound(p => p.IsAdmin).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.EmployeesCount).AddDefaultOptions();
                    columns.AddAuditColumns();
                    columns.AddActionColumns("SystemRoleId");
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.CountryId);
                                            model.Field(a => a.CountryId).Editable(false);
                                        })
                                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Name</strong>
            <p class="col-template-val">#=data.RoleName#</p>

            <strong>Admin</strong>
            <p class="col-template-val">#=data.IsAdmin#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>