@model DB.ORM.DB.SystemUser.UserDto
@{

    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var roles = ViewData["Roles"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-9">
                        @(modeAdd ? null : Html.HiddenFor(m => m.Id))
                        @(modeAdd ? null : Html.HiddenFor(m => m.UserLogo))
                        @(modeAdd ? null : Html.HiddenFor(m => m.Password))
                        @(modeAdd ? null : Html.HiddenFor(m => m.ConfirmPassword))
                        @(modeAdd ? null : Html.HiddenFor(m => m.CreatedById))
                        @(modeAdd ? null : Html.HiddenFor(m => m.LastModifiedById))
                        @(modeAdd ? null : Html.HiddenFor(m => m.CreationDate))
                        @(modeAdd ? null : Html.HiddenFor(m => m.LastModifiedDate))
                        @Html.FormEditorRow(m => m.UserName, ZM.UserAdmin.Name, false, true)
                        @Html.FormEditorRow(m => m.LoginId, ZM.UserAdmin.LoginName, false, true)
                        @if (string.IsNullOrEmpty(Model.Password))
                        {
                            @Html.FormEditorRow(m => m.Password, ZM.UserAdmin.Password, false)
                            @Html.FormEditorRow(m => m.ConfirmPassword, ZM.UserAdmin.ConfirmPassword, false)
                        }
                        @(modeAdd ? null : Html.FormEditorRow(m => m.Active, ZM.UserAdmin.Active))
                        @Html.FormDropDownListRow(m => m.RoleId, (List<SelectListItem>)roles, true, ZM.UserAdmin.Role)
                    </div>
                    @Html.Partial("_FileUpload", string.IsNullOrEmpty(Model.Logo) ? "" : Model.Logo)

                </div>

                @Html.FormEditorRow("", null)
                @Html.FormActionsRow()
            </div>
        }
    </div>
    <!-- /tile body -->
</div>