﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_User>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.UserId).Hidden();
                    columns.Bound(p => p.Logo) .ClientTemplate(
                    @"# if (Logo != null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Logo#'/>#} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
                        .AddDefaultOptions().Filterable(false);
                    columns.Bound(p => p.UserName).Title(ZM.UserAdmin.User).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.LoginId).Title(ZM.UserAdmin.Login).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Active).Title(ZM.UserAdmin.Active).AddDefaultOptions();
                    columns.Bound(p => p.IsAdmin).Title(ZM.UserAdmin.IsAdmin).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.RoleName).Title(ZM.UserAdmin.Role).AddDefaultOptions();
                    columns.AddAuditColumns();
                    columns.AddActionColumns("UserId");
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.UserId);
                                            model.Field(a => a.UserId).Editable(false);
                                        })
                                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Name</strong>
            <p class="col-template-val">#=data.UserName#</p>

            <strong>Admin</strong>
            <p class="col-template-val">#=data.IsAdmin#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>