﻿@model DB.ORM.DB.Merchant
@{
    var title = "Edit";
    var disabledSetting = Model.HasLoyalty;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, "PointSettings", FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-12">

                        @Html.HiddenFor(m => m.MerchantId)
                        @Html.HiddenFor(m => m.InterestId)
                        @Html.HiddenFor(m => m.LoginId)
                        @Html.HiddenFor(m => m.Website)
                        @Html.HiddenFor(m => m.MerchantBrandName)
                        @Html.HiddenFor(m => m.MerchantLogo)
                        @Html.HiddenFor(m => m.MerchantName)
                        @Html.HiddenFor(m => m.Facebook)
                        @Html.HiddenFor(m => m.Password)
                        @Html.HiddenFor(m => m.HasLoyalty)

                        @*@Html.FormEditorRow(m => m.PointsActivationDuration, null, (disabledSetting ? false : true))
        @Html.FormEditorRow(m => m.PointsExpirationDuration, null, (disabledSetting ? false : true))*@
                        @Html.FormEditorRow(ZM.PointSettings.PointsActivationDuration,
                                  @Html.Kendo().NumericTextBoxFor(m => m.PointsActivationDuration), null, (disabledSetting ? false : true))
                        @Html.FormEditorRow(ZM.PointSettings.PointsExpirationDuration,
                                 @Html.Kendo().NumericTextBoxFor(m => m.PointsExpirationDuration), null, (disabledSetting ? false : true))

                        <div style="padding:30px">

                            <div class="col-md-12">
                                <div class="col-md-2">

                                    @Html.TextBoxFor(m => m.Pounds, "{0:n2}", new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0" })

                                </div>
                                <div class="col-md-1" style="font-size:16px;line-height:32px;"> L.E =  </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.PointsAmount, "{0:n2}", new { @class = "form-control", type = "number", min = "0", @step = "1", @value = "0" })
                                </div>
                                <div style="font-size:16px;line-height:32px;">Point</div>
                            </div>

                            @*@Html.FormEditorRow("L.E ",
                  @Html.Kendo().NumericTextBoxFor(m => m.Pounds), (disabledSetting ? false : true))


            @Html.FormEditorRow("Points  ",
               @Html.Kendo().NumericTextBoxFor(m => m.PointsAmount), (disabledSetting ? false : true))*@

                        </div>

                        @if (disabledSetting == true)
                        {
                            <input type='button'  class="btn btn-gree btn-lg pull-right" style="margin-right:70px;" onclick='this.form.submit();' value='@ZM.PointSettings.Save'>

                        }


                    </div>
                </div>

            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->



<script>
    $(function () {
        var value = $("#HasLoyalty").val();

        if (value=="False") {
            swal("Warning!", "Please Redirct to Your Admin!", "warning");
        };



    });
    
</script>