﻿@model Services.Web.Business.Campaign.Dto.CampaignDto
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Details";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var genders = ViewData["Genders"];
}

<style>

    .k-grid .k-button {
    margin: -7px 0.16em;
    padding: 7px;
}
</style>
<!-- title -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-body form">
                                <div class="form-wizard">
                                    <div class="form-body" id="tabs">
                                        @Html.FormHeaderTabbed("", new FormHeaderSpecialTab { Active = true, Id = "1", Name = "Campaign" }
                                                             , new FormHeaderSpecialTab { Id = "2", Name = "Criteria" }
                                                             , new FormHeaderSpecialTab { Id = "3", Name = "Branches" })
                                        <div id="bar" class="progress progress-striped" role="progressbar">
                                            <div class="progress-bar progress-bar-success"> </div>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tabs-1">
                                                @(Html.HiddenFor(m => m.PromotionRunId))
                                                @(Html.HiddenFor(m => m.CloseDate))
                                                @Html.FormDropDownListRow(m => m.PromotionId, (IEnumerable<SelectListItem>)ViewBag.Promotions, true, "Promotion", !modeAdd)
                                                @Html.FormEditorRow(ZM.Campaign.StartDate, @Html.Kendo().DateTimePickerFor(m => m.StartDate), null, !modeAdd, true)
                                                @Html.FormEditorRow(ZM.Campaign.EndDate, @Html.Kendo().DateTimePickerFor(m => m.EndDate), null, !modeAdd, true)
                                                @Html.FormEditorRow(ZM.Campaign.RedeemCountPerPerson, Html.Kendo().NumericTextBoxFor(m => m.RedeemCountPerPerson), null, !modeAdd)
                                                @Html.FormEditorRow(ZM.Campaign.NumberOfPoints, Html.Kendo().NumericTextBoxFor(m => m.NumberOfPoints), null, !modeAdd)
                                                @Html.FormEditorRow(ZM.Campaign.NumberOfPieces, Html.Kendo().NumericTextBoxFor(m => m.NumberOfPieces), null, !modeAdd)

                                            </div>

                                            <div class="tab-pane" id="tabs-2">
                                                <div class="portlet light ">
                                                    @(Html.Kendo().Grid(Model.CampaignCriteria)
                                                       .Name("CampaignCriteria")
                                              .Columns(columns =>
                                              {
                                                  columns.Bound(p => p.PromotionRunCriteriaId).Hidden().ClientTemplate(@Html.AddHiddenColumn("PromotionRunCriteriaId", "CampaignCriteria"));
                                                  columns.Bound(p => p.PromotionRunId).Hidden().ClientTemplate(@Html.AddHiddenColumn("PromotionRunId", "CampaignCriteria") );
                                                  columns.Bound(p => p.AgeFrom).Title(ZM.Campaign.AgeFrom).ClientTemplate(@Html.AddHiddenColumn("AgeFrom", "CampaignCriteria")).Width(300);
                                                  columns.Bound(p => p.AgeTo).Title(ZM.Campaign.AgeTo).ClientTemplate(@Html.AddHiddenColumn("AgeTo", "CampaignCriteria")).Width(300);
                                                  columns.ForeignKey(p => p.Gender, (System.Collections.IEnumerable) genders, "Value", "Text").Title(ZM.Campaign.Gender)
                                                                       .ClientTemplate(@Html.AddHiddenColumn("Gender", "CampaignCriteria")).Width(300);
                                                  if (modeAdd)
                                                  {
                                                      columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                                                  }

                                              })
                                              
                                                 .Pageable()
                                                 .Sortable()
                                            .ToolBar(toolbar => toolbar.Create().Text("Add new criteria"))
                                            .Events(e=>e.DataBound("OnCriteriaDataBound").Edit("OnEdit").Save("onSave"))
                                            .Editable(editable => editable.Mode(GridEditMode.InLine).Enabled(modeAdd))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.PromotionRunCriteriaId);
                                                 model.Field(p => p.Gender).DefaultValue(genders as SelectList);
                                             })
                                            .Create(c => c.Action("NoAction", formController))
                                                                .Update(u => u.Action("NoAction", formController))
                                                                .Destroy(u => u.Action("NoAction", formController))))
                                                    <!-- Grid Mobile View -->
                                                    <script id="responsive-column-template" type="text/x-kendo-template">
                                                        <strong>AgeFrom</strong>
                                                        <p class="col-template-val">#=data.AgeFrom#</p>
                                                        <strong>AgeTo</strong>
                                                        <p class="col-template-val">#=data.AgeTo#</p>
                                                        <strong>Gender</strong>
                                                        <p class="col-template-val">#=data.Gender#</p>
                                                    </script>
                                                    <script>
                                                        var resColTemplate = kendo.template($("#responsive-column-template").html());
                                                    </script>
                                                    <style>

                                                        .col-template-val {
                                                            margin: 0 0 1em .5em;
                                                        }
                                                    </style>
                                                    <!-- /Grid Mobile View -->
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tabs-3">
                                                @(Html.Kendo().Grid(Model.Branches)
                                                 .Name("Branches")
                                                 .Columns(columns =>
                                                 {
                                                     columns.Bound(p => p.BranchId).Hidden().ClientTemplate(Html.AddHiddenColumn("BranchId", "Branches"));
                                                     columns.Bound(p => p.MerchantId).Hidden().ClientTemplate(Html.AddHiddenColumn("MerchantId", "Branches"));
                                                     columns.Bound(p => p.Selected).Hidden().ClientTemplate(Html.AddHiddenColumn("Selected", "Branches", "BranchSelection"));
                                                     columns.Select().Width(50);
                                                     columns.Bound(p => p.Address).Title(ZM.Branch.Address).ClientTemplate(Html.AddHiddenColumn("Address", "Branches"));
                                                     columns.Bound(p => p.AreaName).Title(ZM.Branch.AreaName).ClientTemplate(Html.AddHiddenColumn("AreaName", "Branches"));
                                                 })
                                                 .Pageable()
                                                 .Sortable()
                                                 .PersistSelection()
                                                 .Events(e => e.Change("OnSelectGridChanged").DataBound("OnBranchDataBound"))
                                                 .DataSource(dataSource => dataSource
                                                  .Ajax()
                                                  .Model(model => model.Id(p => p.BranchId)
                                                  )
                                                  .Read(read => read.Action("ReadBranchesList", formController))))

                                            </div>
                                        </div>

                                        @Html.Partial("_ActionButtons", formController)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script src="~/Scripts/Wizared/criteria.js"></script>
<script src="~/Scripts/Wizared/Tabs.js"></script>
<script type="text/javascript">
    var noDisplay = '@modeAdd';

    function OnEdit(e) {
        var oneRecord = false;
        var datasource = $('#CampaignCriteria').data("kendoGrid").dataSource;
        var rows = datasource.data();
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].AgeTo == null && oneRecord) {
                $('#CampaignCriteria').data("kendoGrid").dataSource.remove(rows[i]);
            } else if (rows[i].AgeTo == null)
                oneRecord = true;

        }
           return false;
    }
    function onSave(e) {
        var datasource = $('#CampaignCriteria').data("kendoGrid").dataSource;
        var rows = datasource.data();
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].AgeTo == null || rows[i].AgeFrom == null || rows[i].Gender == '') {
                $('#CampaignCriteria').data("kendoGrid").dataSource.remove(rows[i]);
            } 
        }
        return false;
    }
    OnCriteriaDataBound = (e) => {
    if ('@modeAdd' == 'False') {
        $("#CampaignCriteria .k-grid-toolbar").hide();
    }
}

OnBranchDataBound = () => {
    if ('@modeAdd' == 'False') {
        $('.k-checkbox').map(function () {
            this.setAttribute("disabled", "disabled");
        });
    }
    var checkBoxes = $(".k-checkbox").map(function () {
        return this;
    }).get();
    var branchSelection = document.getElementsByClassName("BranchSelection");
    for (var i = 0; i < branchSelection.length; i++) {
        if (branchSelection[i].value == "1")
            checkBoxes[i + 1].checked = true;
        else
            checkBoxes[i + 1].checked = false;
    }
}


    @*(function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                agevalidation: function (input, params) {
                    if (input.is("[name='AgeTo']") && input.val() != "") {
                        var row = input.closest("tr");
                        var grid = $('#CampaignCriteria').data().kendoGrid;
                        var dataItem = grid.dataItem(row);
                        var ageFrom = dataItem.AgeFrom == null ? 0 : dataItem.AgeFrom;
                        if (input.val() < parseInt(ageFrom)) {
                            input.attr("data-agevalidation-msg", '@ZM.Campaign.AgeValidation');
                            return /^[A-Z]/.test(input.val());
                        }
                    }
                     if (input.is("[name='AgeTo']") && input.val() != "") {
                        if (input.val() <= 0) {
                            input.attr("data-agevalidation-msg", '@ZM.Campaign.AgePositive');
                            return /^[A-Z]/.test(input.val());
                        }
                    }
                     if (input.is("[name='AgeFrom']") && input.val() != "") {
                        if (input.val() <= 0) {
                            input.attr("data-agevalidation-msg", '@ZM.Campaign.AgePositive');
                            return /^[A-Z]/.test(input.val());
                        }
                    }
                    return true;
                }
            },
            messages: {
                agevalidation: function (input) {
                    return input.attr("data-val-agevalidation");
                }
            }
        });
    })(jQuery, kendo);*@
</script>