﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/Grid/GrideDeleteSwal.js"></script>
<script src="~/Scripts/swal/swal.js"></script>
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Campaign>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                            columns.Bound(p => p.PromotionRunId).Hidden();
                            columns.Bound(p => p.PromotionName).Title(ZM.Campaign.PromotionName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.StartDate).Title(ZM.Campaign.StartDate).AddDefaultOptions();
                            columns.Bound(p => p.EndDate).Title(ZM.Campaign.EndDate).AddDefaultOptions();
                            columns.Bound(p => p.CloseDate).Title(ZM.Campaign.CloseDate).AddDefaultOptions();
                            columns.Bound(p => p.NumberOfBranches).Title(ZM.Campaign.NumberOfBranches).AddDefaultOptions();
                            columns.Bound(p => p.NumberOfCriteria).Title(ZM.Campaign.NumberOfCriteria).AddDefaultOptions();
                            columns.Bound(p => p.Status).Title(ZM.Campaign.Status).AddDefaultOptions();
                            columns.AddActionColumns("PromotionRunId", ListActionColumn.EditColumn("PromotionRunId", Url.Action("ViewCampaign", formController), "fa fa-eye"),
                        ListActionColumn.EditColumn("PromotionRunId", Url.Action("CopyCampaign", formController), "fa fa-copy"),
                        ListActionColumn.GenericSwALColumn("PromotionRunId", Url.Action("CloseCampaign", formController), "glyphicon glyphicon-remove", true, "close", "Closed!",
                        "Your campaign has been closed.", "Cancelled", "Your campaign is safe", "Are you sure ?", "You will close this campaign", "warning", "Yes, Close it!"
                        , "No, Cancel plx!"
                        ),

                        ListActionColumn.GenericSwALColumn("PromotionRunId", Url.Action("DeleteCampiagn", formController), "glyphicon glyphicon-trash trashIcon", true, 
                                    "delete", ZM.Message.SwALDone, string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.CampaignViewNameSingular,ZM.Message.Delete), 
                                    ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALRealatedData, ZM.ViewPages.CampaignViewNameSingular),
                                    ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWillDelete,ZM.ViewPages.CampaignViewNameSingular),
                                    ZM.Message.SwALwarning, ZM.Message.SwALDelete, ZM.Message.SwALNoCancel, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.CampaignViewNameSingular)));
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
            .AddDefaultOptions()
            .Events(e => e.DataBound("OnDataBound"))
            .DataSource(dataSource => dataSource
            
            .AddDefaultSettings(model =>
            {
                model.Id(p => p.PromotionRunId);
                model.Field(a => a.PromotionRunId).Editable(false);
                model.Field(a => a.PromotionName).Editable(false);
                model.Field(a => a.StartDate).Editable(false);
                model.Field(a => a.EndDate).Editable(false);
            }).Ajax()
            .Sort(x=>x.Add("PromotionRunId").Descending())
            )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>PromotionName</strong>
            <p class="col-template-val">#=data.PromotionName#</p>
            <strong>StartDate</strong>
            <p class="col-template-val">#=data.StartDate#</p>
            <strong>EndDate</strong>
            <p class="col-template-val">#=data.EndDate#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());



        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
<script>
    OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            if (val.CloseDate != null) {
                $('#close_' + val.PromotionRunId).hide();
            }

            $('#delete_' + val.PromotionRunId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.Delete, ZM.ViewPages.CampaignViewNameSingular)', position: "top", width: 120 });
            $('#close_' + val.PromotionRunId).kendoTooltip({ content:'@string.Format(ZM.Tooltip.close, ZM.ViewPages.CampaignViewNameSingular)', position: "top", width: 120 });
            $('#edit_' + val.PromotionRunId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.ViewDetails, ZM.ViewPages.CampaignViewNameSingular)', position: "top",});
            
        });
       $('.fa-copy').kendoTooltip({ content: '@string.Format(ZM.Tooltip.copy, ZM.ViewPages.CampaignViewNameSingular)', position: "top",width: 120});

    }

</script>
