@model DB.ORM.DB.Merchant.MerchantDto
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var interests = ViewData["Interests"];
}
<div class="portlet light">
    <!-- tile body -->
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-9">
                    @(modeAdd ? null : Html.HiddenFor(m => m.Id))
                    @(modeAdd ? null : Html.HiddenFor(m => m.MerchantLogo))
                    @(modeAdd ? null : Html.HiddenFor(m => m.Password))
                    @(modeAdd ? null : Html.HiddenFor(m => m.ConfirmPassword))
                    @Html.FormEditorRow(m => m.MerchantName, ZM.MerchantAdmin.Merchant, false, true)
                    @Html.FormEditorRow(m => m.MerchantBrandName, ZM.MerchantAdmin.MerchantBrandName, false, true)
                    @Html.FormDropDownListRow(m => m.InterestId, (IEnumerable<SelectListItem>)interests, true, ZM.MerchantAdmin.Interest)
                    @Html.FormEditorRow(m => m.LoginId, ZM.MerchantAdmin.Login)
                    @if (string.IsNullOrEmpty(Model.Password))
                    {
                        @Html.FormEditorRow(m => m.Password, ZM.UserAdmin.Password, false)
                        @Html.FormEditorRow(m => m.ConfirmPassword, ZM.UserAdmin.ConfirmPassword, false)
                    }
                    @Html.FormEditorRow(m => m.Address, ZM.MerchantAdmin.Address)
                    @Html.FormEditorRow(m => m.Mobile, ZM.MerchantAdmin.Mobile)
                    @Html.FormEditorRow(m => m.Website, ZM.MerchantAdmin.Website)
                    @Html.FormEditorRow(m => m.Facebook, ZM.MerchantAdmin.Facebook)
                    @Html.FormActionsRow()
                </div>
                @Html.Partial("_FileUpload", string.IsNullOrEmpty(Model.Logo) ? "" : Model.Logo)
            </div>
        </div>
       }
                </div>
                <!-- /tile body -->
            </div>
