@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Merchant>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                            columns.Bound(p => p.MerchantId).Hidden();
                            columns.Bound(p => p.Logo).Title(ZM.MerchantAdmin.MerchantLogo)
               .ClientTemplate(
               @"# if (Logo != null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Logo#'/>#} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
                   .AddDefaultOptions().Filterable(false);
                            columns.Bound(p => p.MerchantName).Title(ZM.MerchantAdmin.Merchant).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.MerchantBrandName).Title(ZM.MerchantAdmin.MerchantBrandName).AddDefaultOptions();
                            columns.Bound(p => p.InterestName).Title(ZM.MerchantAdmin.Interest).AddDefaultOptions();
                            columns.Bound(p => p.Website).Title(ZM.MerchantAdmin.Website).AddDefaultOptions();
                            columns.Bound(p => p.Facebook).Title(ZM.MerchantAdmin.Facebook).AddDefaultOptions();
                            columns.AddActionColumns("MerchantId");
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
                                                .AddDefaultOptions()
                                                .DataSource(dataSource => dataSource
                                                    .AddDefaultSettings(model =>
                                                    {
                                                        model.Id(p => p.MerchantId);
                                                        model.Field(a => a.MerchantId).Editable(false);

                                                    })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
           
            <strong>MerchantName</strong>
            <p class="col-template-val">#=data.MerchantName#</p>
            <strong>MerchantBrandName</strong>
            <p class="col-template-val">#=data.MerchantBrandName#</p>
            <strong>InterestId</strong>
            <p class="col-template-val">#=data.InterestId#</p>
            <strong>LoginId</strong>
            <p class="col-template-val">#=data.LoginId#</p>
            <strong>Password</strong>
            <p class="col-template-val">#=data.Password#</p>
            <strong>Website</strong>
            <p class="col-template-val">#=data.Website#</p>
            <strong>Facebook</strong>
            <p class="col-template-val">#=data.Facebook#</p>
            <strong>MerchantLogo</strong>
            <p class="col-template-val">#=data.MerchantLogo#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
