﻿@model Web.App.Admin.Models.VMPromotion
@{
    var modeAdd = false;//Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
@section styles{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
}
<!-- tile -->
<div class="portlet light col-lg-12">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-12">
                        @(modeAdd ? null : Html.HiddenFor(m => m.PromotionId))
                        @Html.FormEditorRow(ZM.Promotion.PromotionName, Html.Kendo().TextBoxFor(m => m.PromotionName),null ,true)
                        @Html.FormEditorRow(ZM.Merchant.MerchantName, Html.Kendo().TextBoxFor(m => m.MerchantName), null, true)
                      
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a id="backBtn" href='@Url.Action("Index", "Promotion")' class="btn btn-outline green button-previous">
                                        <i class="fa fa-angle-left"></i> @string.Format(ZM.UI.BackTo, ZM.ViewPages.PromotionViewNameSingular)
                                    </a>
                                    <a id="approvebtn" href='javascript:;' class="btn btn-success button-submit">
                                        <i class="fa fa-check"></i>  @ZM.Message.Approve
                                    </a>
                                    <a id="rejectbtn" href='javascript:;' class="btn btn-danger button-submit">
                                        <i class="fa fa-ban"></i> @ZM.Message.Reject
                                    </a>

                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /tile body -->
</div>

<div class="portfolio-content portfolio-2">
    @if (Model.Images.Count() > 0)
    {
        <div id="js-filters-mosaic" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn green btn-outline uppercase">
                All
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logo" class="cbp-filter-item btn green btn-outline uppercase">
                Logo
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".other" class="cbp-filter-item btn green btn-outline uppercase">
                Other
                <div class="cbp-filter-counter"></div>
            </div>

        </div>
    }
        <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
            @foreach (var item in Model.Images)
            {

                <div class="cbp-item web-design @(item.IsLogo?"logo":"other")">
                    <a href="@Url.Content(item.ImageUrl)" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@Url.Content(item.ImageUrl)" style="width:270px;height:200px;" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">@(item.IsLogo ? "Logo" : "Other")</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>

    </div>



<script>
    $('#approvebtn').on("click", function (e) {
          $.ajax({
              type: "POST",
              url: '@Url.Action("Approve", @formController)',
              data: { id: @Model.PromotionId },
              dataType: "json",
              success: function (data) {
                if(data)
                   window.location.href = '@Url.Action("Index", @formController)';

              },
            error: function (httpRequest, textStatus, errorThrown) {
            }
          });
    });

     $('#rejectbtn').on("click", function (e) {
          $.ajax({
              type: "POST",
              url: '@Url.Action("Reject", @formController)',
              data: { id: @Model.PromotionId },
              dataType: "json",
              success: function (data) {
                if(data)
                    window.location.href = '@Url.Action("Index", @formController)';

              },
            error: function (httpRequest, textStatus, errorThrown) {
            }
          });
    });
</script>


<!-- /tile -->
@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/portfolio-2.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
}