﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List")
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_PromotionToCheck>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.PromotionId).Hidden();
                    columns.Bound(p => p.MerchantName).Title(ZM.Merchant.MerchantName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.PromotionName).Title(ZM.Promotion.PromotionName).AddDefaultOptions();
                    columns.AddActionColumns("PromotionId",
                            ListActionColumn.EditColumn("PromotionId", Url.Action("Edit"), "fa fa-eye"),
                            ListActionColumn.GenericSwALColumn("PromotionId", Url.Action("Approve", "Promotion"), "fa fa-check", true, ZM.Message.ApproveHeader,
                        string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.PromotionViewNameSingular, ZM.Message.Approved), ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWill, ZM.Message.Approve,ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALwarning,ZM.Message.SwALAppove
                        , ZM.Message.SwALNoCancel),
                              ListActionColumn.GenericSwALColumn("PromotionId", Url.Action("Reject", "Promotion"), "fa fa-close", true, ZM.Message.RejectedHeader,
                        string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.PromotionViewNameSingular, ZM.Message.Rejected), ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWill,ZM.Message.Reject ,ZM.ViewPages.PromotionViewNameSingular), ZM.Message.SwALwarning,ZM.Message.SwALReject
                        , ZM.Message.SwALNoCancel));

                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        { 
                            model.Id(p => p.PromotionId);
                            model.Field(a => a.PromotionId).Editable(false);
                        })
                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Interest</strong>
            <p class="col-template-val">#=data.InterestName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>