﻿@model DB.ORM.DB.Area
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @Html.Partial("_Map", Model)

        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-12">
                        @(modeAdd ? null : Html.HiddenFor(m => m.AreaId))
                        @Html.FormEditorRow(m => m.AreaName, ZM.AreaAdmin.Area, false, true)
                        @Html.FormEditorRow(ZM.Branch.Latitude, Html.Kendo().TextBoxFor(m => m.Lat), null, true)
                        @Html.FormEditorRow(ZM.Branch.Longitude, Html.Kendo().TextBoxFor(m => m.Lng), null, true)
                        @Html.FormActionsRow()
                    </div>
                </div>

            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>

    $('#Lat').on('keyup', function () {
        var map = $("#map").data("kendoMap");
        var loc = { lat: parseFloat($('#Lat').val()), lng: parseFloat($('#Lng').val()) };
        if (map.markers.items.length == 0) {
            map.markers.add({ location: loc })
        } else {
            var marker = map.markers.items[0];
            marker.location(loc);
           
        }
    });

     function onClick(e) {
        var map = $("#map").data("kendoMap");
        map.bind("click", function (e) {
            if (map.markers.items.length == 0) {
                map.markers.add({ location: e.location })
            } else {
                var marker = map.markers.items[0];
                marker.location(e.location);
            }
            console.log(e.location.lat);
            $('#Lat').val(e.location.lat);
            $('#Lng').val(e.location.lng);
        });
     };
</script>