﻿@model string

<div class="col-md-3">
    <img id="fileImg" width="150" style="width:-webkit-fill-available;" height="150" class="img-responsive pic-bordered" src="@Model" onerror="this.onerror=null;this.src='@Url.Content("~/Images/defaultUserIcon.png")';" />

    @(Html.Kendo().Upload()
            .Name("PictureFile")
            .ShowFileList(false)
            .Events(e => e.Select("onSelect"))
            .Multiple(false)
            .Validation(v => v
            .AllowedExtensions(new string[] { ".gif", ".jpg", ".png" })
            .MaxFileSize(5 * 1000 * 1000)
            )
    )

</div>

<script src="~/Scripts/file/fileUpload.js"></script>
