@model DB.ORM.DB.Consumer.ConsumerDto
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    var gender = ViewData["Genders"];
    var Language = ViewData["Languages"];

}
    <div class="portlet light">
        <!-- tile body -->
        @Html.FormHeaderWithButtons((string)title + " " + eName)
        <div class="portlet-body form">
            @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-9">
                        @(modeAdd ? null : Html.HiddenFor(m => m.Id))
                        @(modeAdd ? null : Html.HiddenFor(m => m.Photo))
                        @(modeAdd ? null : Html.HiddenFor(m => m.ReferralId))
                        @(modeAdd ? null : Html.HiddenFor(m => m.PendingOTP))

                        @Html.FormEditorRow(m => m.ConsumerName, ZM.ConsumerAdmin.ConsumerName, false, true)
                        @Html.FormEditorRow(m => m.Phone, ZM.ConsumerAdmin.Phone, false, true)
                        @Html.FormEditorRow(ZM.ConsumerAdmin.BirthDate, Html.Kendo().DateTimePickerFor(c=>c.BirthDate).Max(DateTime.Now.AddYears(-10)).Min(DateTime.Now.AddYears(-80)))
                        @Html.FormDropDownListRow(m => m.Gender, (IEnumerable<SelectListItem>)gender, true, ZM.ConsumerAdmin.Gender)
                        @Html.FormDropDownListRow(m => m.Language, (IEnumerable<SelectListItem>)Language, true, ZM.ConsumerAdmin.Language)

                        @Html.FormEditorRow(m => m.ShowNotifications, ZM.ConsumerAdmin.ShowNotifications)
                        @Html.FormEditorRow(m => m.IsActive, ZM.ConsumerAdmin.Active)
                        @Html.FormEditorRow(m => m.OTP, ZM.ConsumerAdmin.OTP)
                        @Html.FormEditorRow(m => m.ConsumerCode, ZM.ConsumerAdmin.ConsumerCode)
                        @Html.FormActionsRow()

                    </div>
                    @Html.Partial("_FileUpload", string.IsNullOrEmpty(Model.Logo) ? "" : Model.Logo)
                </div>
            </div>
                    }
                <!-- /tile body -->
            </div>
        </div>
