@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List")
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Consumer>()
                            .Name("Grid")
                            .Columns(columns => 
                            {
                            columns.Bound(p => p.ConsumerId).Hidden();
                            columns.Bound(p => p.Logo).Title(ZM.ConsumerAdmin.Photo)
           .ClientTemplate(
           @"# if (Logo != null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Logo#'/>#} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/defaultUserIcon.png") + "'> #}#")
               .AddDefaultOptions().Filterable(false);
                            columns.Bound(p => p.ConsumerName).AddDefaultOptionsAndViewInMobile();

                            columns.Bound(p => p.BirthDate).Title(ZM.ConsumerAdmin.BirthDate).AddDefaultOptions();
                            columns.Bound(p => p.Gender).Title(ZM.ConsumerAdmin.Gender).AddDefaultOptions();
                            columns.Bound(p => p.Language).Title(ZM.ConsumerAdmin.Language).AddDefaultOptions();
                            columns.Bound(p => p.ShowNotifications).Title(ZM.ConsumerAdmin.ShowNotifications).AddDefaultOptions();
                            columns.Bound(p => p.IsActive).Title(ZM.ConsumerAdmin.Active).AddDefaultOptions();
                            columns.Bound(p => p.PendingOTP).Title(ZM.ConsumerAdmin.PendingOTP).AddDefaultOptions();
                            columns.AddActionColumns("ConsumerId");
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
                                                .AddDefaultOptions()
                                                .DataSource(dataSource => dataSource
                                                    .AddDefaultSettings(model =>
                                                    {
                                                        model.Id(p => p.ConsumerId);
                                                        model.Field(a => a.ConsumerId).Editable(false);

                                                    })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            
            <strong>Name</strong>
            <p class="col-template-val">#=data.ConsumerName#</p>
           
            <strong>BirthDate</strong>
            <p class="col-template-val">#=data.BirthDate#</p>
            <strong>Gender</strong>
            <p class="col-template-val">#=data.Gender#</p>
            <strong>Language</strong>
            <p class="col-template-val">#=data.Language#</p>
            <strong>ShowNotifications</strong>
            <p class="col-template-val">#=data.ShowNotifications#</p>
            <strong>ActiveConsumer</strong>
            <p class="col-template-val">#=data.ActiveConsumer#</p>
            <strong>PendingOTP</strong>
            <p class="col-template-val">#=data.PendingOTP#</p>
           
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
