﻿#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 9999999999;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: 100;
    width: 8%;
}
