﻿.dropZoneElement {
    position: relative;
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #c7c7c7;
    width: 230px;
    height: 110px;
    text-align: center;
}

#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
    /* Avoid cutout if font or line is bigger */
    font: inherit;
}

#attachmentListView {
    border: 0;
}

.vlistTemplate {
    float: left;
    position: relative;
    margin: 5px 5px;
    border-style: solid !important;
    border-color:azure;
    padding: 0;
}

    .vlistTemplate img {
        width: auto;
        width: 150px;
        height: 150px;
    }

    .vlistTemplate h3 {
        margin: 0;
        padding: 3px 5px 0 0;
        max-width: 96px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        text-transform: uppercase;
        color: #999;
    }

    a.disablebutton {
        pointer-events: none;
    }


.vlistTemplate p {
    visibility: hidden;
}

    .vlistTemplate:hover p {
        visibility: visible;
        position: absolute;
        width: 110px;
        height: 110px;
        top: 0;
        margin: 0;
        border-style: solid !important;
        padding: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }

.k-state-selected {
    border-color: #ff6a00 !important;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
