﻿@model DB.ORM.DB.MerchantBranch
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<style>

    .k-diagram, .k-map {
        height: 400px;
    }
</style>
<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light " id="form_wizard_1">

                <div class="portlet-body form">
                    <div class="form-wizard">
                        <div class="form-body" id="tabs">
                            @Html.FormHeaderTabbed("", new FormHeaderSpecialTab { Active = true, Id = "1", Name = "Branch Info" }
                                                           , new FormHeaderSpecialTab { Id = "2", Name = "Cashiers" })

                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                </div>
                                <div class="tab-pane active" id="tabs-1">
                                    @Html.Partial("_Map", Model)

                                    @using (Ajax.BeginForm("SaveBasicModel", formController,
                                            new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success", OnFailure = "Failure", UpdateTargetId = "BranchId" }))
                                     {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.HiddenFor(m => m.BranchId)
                                                @Html.HiddenFor(m => m.MerchantId)
                                                @Html.FormEditorRow(ZM.Branch.Latitude, Html.Kendo().TextBoxFor(m => m.Lat), null, true)
                                                @Html.FormEditorRow(ZM.Branch.Longitude, Html.Kendo().TextBoxFor(m => m.Lng), null, true)
                                                @Html.FormDropDownListRow(m => m.AreaId, (IEnumerable<SelectListItem>)ViewBag.Areas, true, ZM.Branch.Area)
                                                @Html.FormEditorRow(m => m.Address, ZM.Branch.Address, false, true)
                                                @Html.FormEditorRow(ZM.Branch.AddressAr, Html.Kendo().TextBoxFor(m => m.AddressAr))
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="tab-pane" id="tabs-2">
                                    @(Html.Kendo().Grid<DB.ORM.DB.MerchantBranchCashier>()
                                     .Name("Grid")
                                     .Columns(columns =>
                                     {
                                         columns.Bound(p => p.MerchantBranchCashierId).Hidden();
                                         columns.Bound(p => p.BranchId).Hidden();
                                         columns.Bound(p => p.CashierName).Title(ZM.Branch.CashierName).Width(300);
                                         columns.Bound(p => p.LoginId).Title(ZM.Branch.LoginId).Width(300);
                                         columns.Bound(p => p.Password).ClientTemplate("<span>#: Array(data.Password.length).join('*') #</span>")
                                              .Title(ZM.Branch.Password).Width(300);
                                         columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
                                     })
                                     .ToolBar(toolbar => toolbar.Create().Text("Add"))
                                     .Editable(editable => editable.Mode(GridEditMode.InLine))
                                     .AddDefaultOptions()
                                     .DataSource(dataSource => dataSource
                                     .Ajax()
                                     .Model(model =>
                                     {
                                         model.Id(p => p.MerchantBranchCashierId);
                                     }).Events(e => e.Sync("reload"))
                                     .Read(u => u.Action("ReadBranchCashiersList", formController))
                                     .Create(u => u.Action("SaveCashier", formController).Data("AddintionalData"))
                                     .Update(u => u.Action("SaveCashier", formController).Data("AddintionalData"))
                                     .Destroy(u => u.Action("DeleteCashier", formController))))
                                    <!-- Grid Mobile View -->
                                    <script id="responsive-column-template" type="text/x-kendo-template">
                                        <strong>CashierName</strong>
                                        <p class="col-template-val">#=data.CashierName#</p>
                                        <strong>LoginId</strong>
                                        <p class="col-template-val">#=data.LoginId#</p>
                                        <strong>Password</strong>
                                        <p class="col-template-val">#=data.Password#</p>
                                    </script>
                                    <script>var resColTemplate = kendo.template($("#responsive-column-template").html());</script>
                                    <style>
                                        .col-template-val {
                                            margin: 0 0 1em .5em;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>

                        @Html.Partial("_ActionButtons", formController)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /tile -->


<script>
    var currentTab = 1, maxTab = 2;
    var submittedFormId = "form0";
    var noDisplay = 'True';
    reload = () => {
        
    var grid = $('#Grid').data('kendoGrid');
    grid.dataSource.read();
    grid.refresh();
    }
    $('#Lat').on('keyup', function () {
        var map = $("#map").data("kendoMap");
        var loc = { lat: parseFloat($('#Lat').val()), lng: parseFloat($('#Lng').val()) };
        if (map.markers.items.length == 0) {
            map.markers.add({ location: loc })
        } else {
            var marker = map.markers.items[0];
            marker.location(loc);
            console.log(marker);
        }
    });
    function onClick(e) {
        var map = $("#map").data("kendoMap");
        map.bind("click", function (e) {
            if (map.markers.items.length == 0) {
                map.markers.add({ location: e.location })
            } else {
                var marker = map.markers.items[0];
                marker.location(e.location);
            }
            //$('#Lat').val(e.location.lat);
            //$('#Lng').val(e.location.lng);
             $.ajax({
                  type: "GET",
                  url: '@Url.Action("InArea", @formController)',
                 data: { areaId: $("#AreaId").data("kendoDropDownList").value(), lat: e.location.lat, lng: e.location.lng},
                  dataType: "json",
                  success: function (data) {
                      if (data == true) {
                          $('#Lat').val(e.location.lat);
                          $('#Lng').val(e.location.lng);
                      }
                      else {
                          swal('@ZM.Branch.warning','@ZM.Branch.InvalidLocation', '@ZM.Branch.warning');
                          $('#Lat').val('');
                          $('#Lng').val('');
                          return false;
                      }

                  },
                  error: function (httpRequest, textStatus, errorThrown) {
                  }
             });
        });
    }

    $('#submitBtn').on("click", function (e) {
          $.ajax({
            type: "GET",
            url: '@Url.Action("SubmitModel", @formController)',
            dataType: "json",
              success: function (data) {
                if(data)
                   window.location.href = '@Url.Action("index",  @formController)';

            },
            error: function (httpRequest, textStatus, errorThrown) {
            }
          });
    });

     function Success(data) {
        $('#BranchId').val(data);
    }
    function Failure(data) {
        currentTab = 1;
    }

    AddintionalData = () => {
        return {
            branchId: $('#BranchId').val()
        };
    }

</script>
<script src="~/Scripts/Wizared/Tabs.js"></script>