﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Branch>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.BranchId).Hidden();
                    columns.Bound(p => p.AreaName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Address).Title(ZM.Branch.Address).AddDefaultOptions();
                    columns.Bound(p => p.Cashiers).Title(ZM.Branch.Cashiers).AddDefaultOptions();
                    columns.AddActionColumns("BranchId", ListActionColumn.EditColumn("BranchId", Url.Action("Edit", formController), "glyphicon glyphicon-pencil pencil"),
                    ListActionColumn.GenericSwALColumn("BranchId", Url.Action("DeleteBranch", formController), "glyphicon glyphicon-trash trashIcon", true,
                                    "delete", ZM.Message.SwALDone, string.Format(ZM.Message.SwALSuccessMessage, ZM.ViewPages.BranchViewNameSingular, ZM.Message.Delete),
                                    ZM.Message.SwALCancelled, string.Format(ZM.Message.SwALRealatedData, ZM.ViewPages.BranchViewNameSingular),
                                    ZM.Message.SwALConfirmquestion, string.Format(ZM.Message.SwALWillDelete, ZM.ViewPages.BranchViewNameSingular),
                                    ZM.Message.SwALwarning, ZM.Message.SwALDelete, ZM.Message.SwALNoCancel, string.Format(ZM.Message.SwALSafe, ZM.ViewPages.BranchViewNameSingular)));
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                    .AddDefaultOptions()
                    .Events(e => e.DataBound("OnDataBound"))
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.BranchId);
                            model.Field(a => a.BranchId).Editable(false);
                        })
                    )
                    )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Area</strong>
            <p class="col-template-val">#=data.AreaName#</p>

            <strong>Address</strong>
            <p class="col-template-val">#=data.Address#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>


<script>
    OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            
            $('#delete_' + val.BranchId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.Delete, ZM.ViewPages.BranchViewNameSingular)', position: "top", width: 120 });
            $('#edit_' + val.BranchId).kendoTooltip({ content: '@string.Format(ZM.Tooltip.Edit, ZM.ViewPages.BranchViewNameSingular)', position: "top", width: 120});

        });

    }

</script>
