﻿@model string

    <div style="margin-left: 20px; margin-right: 20px" class="col-md-4">
        <img id="fileImg" width="150" style="width:-webkit-fill-available;" height="150" class="img-responsive pic-bordered" src="@Model" onerror="this.onerror=null;this.src='@Url.Content("~/Images/defaultUserIcon.png")';" />

        @(Html.Kendo().Upload()
                .Name("PictureFile")
                .ShowFileList(false)
                .Events(e => e.Select("onSelect"))
                .Multiple(false)
                .Validation(v => v
                .AllowedExtensions(new string[] { ".gif", ".jpg", ".png" })
                .MaxFileSize(5 * 1000 * 1000)
                )

        )

        <div style="margin-bottom:20px" class="clearfix margin-top-10">
            <span class="label label-danger"> NOTE! </span>
            <span> Images supported are: JPG, GIF, PNG </span>
        </div>
    </div>

<script src="~/Scripts/file/fileUpload.js"></script>
