﻿<script type="text/x-kendo-tmpl" id="template">
    # for (var i = 0; i < data.length; i++){ #
    <div class="vlistTemplate #:data[i].Selected? 'k-state-selected' :''#" id="#:i#">
        <img class="selectedImg" src="#:data[i].fileContent#" />
        <span id="#:i#Close" class="k-icon k-i-close removeimage" style="font-size:25px;top:0;right:0;position:absolute;color:gray;z-index:1000;cursor:pointer"></span>

    </div>
    # } #
</script>
<div id="images" class="clearfix float-left">
</div>

<div id="loading" style="display:none">
    <img id="loading-image" src="~/images/loading.gif" />
</div>
<div id="arrowDiv clearfix">
    <button id="leftBtn" type="button" class="btn btn-primary mt-ladda-btn ladda-button btn-circle">
        <span class="ladda-label">
            <i class="icon-arrow-left"></i>
        </span>
    </button>
    <span class="ladda-label" style="padding-left:32%;">
        <strong>  First image </strong> will considered the <strong> Logo  </strong> image
    </span>
    <button id="rightBtn" type="button" class="btn btn-primary mt-ladda-btn ladda-button btn-circle pull-right">
        <span class="ladda-label">
            <i class="icon-arrow-right"></i>
        </span>
    </button>
</div>
<div class="demo-section k-content wide" style="margin: 10px ">
    @(Html.Kendo().Upload()
     .Name("files")
     .Events(e => e.Progress("onUpload").Select("onSelect"))
     .ShowFileList(false)
     .Validation(validation =>
     {
     validation.AllowedExtensions(new string[]
     { ".jpg", ".jpeg", ".png", ".bmp", ".gif", ".png" });
     validation.MaxFileSize(5000 * 1024);
     })

    )
</div>