@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.FAQCategory>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                            columns.Bound(p => p.FaqCategoryId).Hidden();

                            columns.Bound(p => p.CategoryName).Title(ZM.FAQAdmin.Category).AddDefaultOptionsAndViewInMobile();
                            columns.AddActionColumns("FaqCategoryId");
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
                                                .AddDefaultOptions()
                                                .DataSource(dataSource => dataSource
                                                    .AddDefaultSettings(model =>
                                                    {
                                                        model.Id(p => p.FaqCategoryId);
                                                        model.Field(a => a.FaqCategoryId).Editable(false);

                                                    })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
           
            <strong>Category</strong>
            <p class="col-template-val">#=data.CategoryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
