﻿@model DB.ORM.DB.vw_MerchantPoint
@{
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    bool loyality =(Boolean)ViewData["loyality"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List")
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_MerchantPoint>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PointId).Hidden();
        columns.Bound(p => p.MerchantId).Hidden();
        columns.Bound(p => p.PointValue);
        columns.Bound(p => p.PointDescription).Title(ZM.Point.PointDescription).Width(300);
        columns.Bound(p => p.PointDescriptionAr).Title(ZM.Point.PointDescriptionAr).HtmlAttributes(new { dir = "rtl" }).Width(300);
        if (loyality)
        {
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        }

    })
    .ToolBar(toolbar => toolbar.Create().Text("Add"))
    .Events(e => e.DataBound("OnDataBound"))
    .Editable(editable => editable.Mode(GridEditMode.InLine).Enabled(loyality))
    .AddDefaultOptions()

    .DataSource(dataSource => dataSource
    .Ajax()
    .Sort(x=>x.Add("PointValue").Descending())
    .Model(model =>
    {
        model.Id(p => p.PointId);
        model.Field(a => a.PointId).Editable(false);
        model.Field(a => a.MerchantId).Editable(false);
    }).Events(e=>e.Sync("OnSave"))
    .Read(u => u.Action("ReadList", formController))
    .Create(u => u.Action("SaveMerchantPoint", formController))
    .Update(u => u.Action("SaveMerchantPoint", formController))
    .Destroy(u => u.Action("DeleteMerchantPoint", formController)))) 
    <!-- Grid Mobile View -->
    <script id="responsive-column-template" type="text/x-kendo-template">
        <strong>PointValue</strong>
        <p class="col-template-val">#=data.PointValue#</p>
        <strong>PointDescription</strong>
        <p class="col-template-val">#=data.PointDescription#</p>
        <strong>PointDescriptionAr</strong>
        <p class="col-template-val">#=data.PointDescriptionAr#</p>



    </script>
    <script>var resColTemplate = kendo.template($("#responsive-column-template").html());</script>
    <style>

        .col-template-val {
            margin: 0 0 1em .5em;
        }
    </style>

    <!-- /Grid Mobile View -->
</div>
</div>


<script src="~/Scripts/swal/swal.js"></script>

<script>


    OnDataBound = (e) => {
         if ('@loyality' == 'False') { 
             $(".k-grid-toolbar").hide();
             swal("Warning!", "Please Redirct to Your Admin!", "warning");
          }
    }
      function OnSave(e) {
         $('#Grid').data("kendoGrid").dataSource.read();
      
    }

</script>
       